{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container">
    <h2>Error</h2>
    <p>{{ error }}</p>
    <a href="{% url 'home' %}" class="btn">Go back to Home</a>

    <!-- 폼 추가 -->
    <form method="post" action="/your-url/">
        {% csrf_token %}
        <!-- 폼 필드 -->
        <label for="exampleField">Example Field:</label>
        <input type="text" id="exampleField" name="example_field">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
